<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyundai.server.model.dao.ModelDao">
    <resultMap id="optionMap" type="optionDto">
        <id column="option_id" property="optionId"/>
        <result column="option_price" property="price"/>
        <result column="option_type" property="type"/>
        <result column="option_name" property="name"/>
        <result column="option_image" property="image"/>
        <result column="preview" property="preview"/>
    </resultMap>

    <select id="selectInteriorByCarNameId" parameterType="int" resultMap="optionMap">
        SELECT option_id, option_price, option_type, option_name, option_image, preview
        FROM car_name_interior
        JOIN options ON car_name_interior.interior_id = options.option_id
        WHERE car_name_id = #{carNameId};
    </select>


    <select id="selectExteriorByCarNameId" parameterType="int" resultMap="optionMap">
        SELECT option_id, option_price, option_type, option_name, option_image, preview
        FROM car_name_exterior
                 JOIN options ON car_name_exterior.exterior_id = options.option_id
        WHERE car_name_id = #{carNameId};
    </select>

</mapper>